/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font-family: "IBM Plex mono", monospace;
  --man-gap: 10px;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --header-logo-size: 116px;
  --header-logo-color: #db00ff;
  --main-bg-color: #00183f;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --border-color: #ff8dcb;
  --bg-color: rgba(0, 0, 40, 1);
  --accrent-text-color: rgba(241, 178, 206, 1);
  --text-color: rgba(0, 0, 40, 1);
  --text-title-color: #ff0070;
  --title-color: rgba(219, 0, 255, 1);
  background-image: url("../images/cover-image-dark.png");
}

.theme_dark .header__theme-menu-button:hover {
  --nav-hover-color: rgb(255 0 112 / 0.4);
  border: 1px solid var(--nav-hover-color);
}

.theme_dark .header__rec {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #00183f;
    --accent-color: #ff0070;
    --nav-color: #ff0070;
    --bg-color: rgba(0, 0, 40, 1);
    --accrent-text-color: rgba(241, 178, 206, 1);
    --border-color: #ff8dcb;

    --text-color: rgba(0, 0, 40, 1);
    --text-title-color: #ff0070;
    --title-color: rgba(219, 0, 255, 1);
  }
  .page {
    background: var(--bg-color);
    background-image: url("../images/cover-image-dark.png");
  }
}
