/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-font-family: "IBM Plex mono", monospace;
  --man-gap: 10px;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --header-logo-size: 116px;
  --header-logo-color: #db00ff;
  --main-bg-color: #00183f;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --border-color: #ff8dcb;
  --bg-color: rgba(0, 0, 40, 1);
  --accrent-text-color: rgba(241, 178, 206, 1);
  --text-color: rgba(0, 0, 40, 1);
  --text-title-color: #ff0070;
  --title-color: rgba(219, 0, 255, 1);
  background-image: url("../images/cover-image-dark.png");
}

.theme_dark .header__theme-menu-button:hover {
  --nav-hover-color: rgb(255 0 112 / 0.4);
  border: 1px solid var(--nav-hover-color);
}

.theme_dark .header__rec {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #00183f;
    --accent-color: #ff0070;
    --nav-color: #ff0070;
    --bg-color: rgba(0, 0, 40, 1);
    --accrent-text-color: rgba(241, 178, 206, 1);
    --border-color: #ff8dcb;

    --text-color: rgba(0, 0, 40, 1);
    --text-title-color: #ff0070;
    --title-color: rgba(219, 0, 255, 1);
  }
  .page {
    background: var(--bg-color);
    background-attachment: fixed;
    background-image: url("../images/cover-image-dark.png");
  }

  .header__paragraph {
    margin-inline-end: 0;
  }

  @media (width < 768px) {
    .main_content {
      margin-inline: 10px;
    }
    .grid_content {
      gap: 10px;
    }
    .page::before,
    .footer::before {
      bottom: 10px;
      left: 10px;
    }
    .page::after,
    .footer::after {
      top: 10px;
      right: 10px;
    }
  }

  @media (768px <= width < 1024px) {
    .header {
      margin-block-end: 60px;
    }
    .header__theme-menu-list {
      flex-direction: column;
      align-items: end;
      justify-content: end;
      block-size: calc(100vw / 2.4);
    }
    .header__logo {
      align-items: center;
      block-size: calc(100vw / 3);
    }
    .header__text {
      align-items: start;
    }
    .header__paragraph {
      margin-inline-end: 20px;
      max-inline-size: calc(100vw / 2.1);
    }
    .attention_card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-block-end: 80px;
    }
    .hard_to_focus,
    .better_attention_card {
      margin-block-end: 80px;
    }
  }

  @media (1024px <= width < 1440px) {
    .header__paragraph {
      max-inline-size: calc(100vw / 2.1);
      margin-inline-end: 20px;
      margin-block-end: 10px;
    }
    .hard_to_focus,
    .attention_card,
    .better_attention_card {
      margin-block-end: 80px;
    }
  }
}
