/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --nav-color: #353430;
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accrent-text-color: #353430;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --text-title-color: #353430;
  --border-color: #353430;
}

.theme_light .header__theme-menu-button:hover {
  --nav-hover-color: #353430;
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --nav-color: #353430;
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accrent-text-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --text-title-color: #353430;
    --border-color: #353430;
  }

  .page {
    background: var(--bg-color);
    background-attachment: fixed;
    background-image: url("../images/cover-image-light.png");
  }

  .header__paragraph {
    margin-inline-end: 0;
  }

  .header__rec {
    display: none;
  }
}
