/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font-family: "IBM Plex mono", monospace;
  --man-gap: 10px;
  --main-text-size: 18px;
  --main-line-height: 1.3;
  --header-logo-size: 116px;
  --header-logo-color: #db00ff;
  --main-bg-color: #00183f;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  
  --bg-color: rgba(0, 0, 40, 1);
  --accrent-text-color: rgba(241, 178, 206, 1);
  --text-color: rgba(0, 0, 40, 1);
  --text-title-color: #ff0070;
  --title-color: rgba(219, 0, 255, 1);

}